<h1>Odeme#index</h1>
<p>Find me in app/views/odeme/index.html.erb</p>
<% content_for :menu do %>
  <ul>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li></li>
  </ul>
<% end %>
